:root {
  --yellow: rgba(250, 215, 110, 1);
  --transbg: rgba(29, 29, 29, 1);
  --stroke: rgba(52, 52, 52, 1);
  --black: rgba(0, 0, 0, 1);
  --gray-50: rgba(255, 255, 255, 1);
  --gray-200: rgba(238, 242, 246, 1);
  --gray-300: rgba(204, 213, 223, 1);
  --gray-900: rgba(18, 24, 27, 1);
  --gray-800: rgba(30, 40, 45, 1);
  --gray-700: rgba(54, 65, 81, 1);
  --geomate-fonts-font-body-sm-regular-font-family: "Poppins", Helvetica;
  --geomate-fonts-font-body-sm-regular-font-weight: 400;
  --geomate-fonts-font-body-sm-regular-font-size: 12px;
  --geomate-fonts-font-body-sm-regular-letter-spacing: 0.06px;
  --geomate-fonts-font-body-sm-regular-line-height: 16px;
  --geomate-fonts-font-body-sm-regular-font-style: normal;
  --shadow-shadow-sm: 0px 1px 3px 0px rgba(18, 24, 27, 0.06);
}
